.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: top 1s;
    &.sticky{
      position: fixed;
      animation: revel-header 0.5s ease-in-out alternate;
    }
}
@keyframes revel-header {
  0%{
    top: -72px;
  }
  100%{
    top: 0;
  }
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  
  .body {
    flex: 1 1 0%;
    // padding-top: 72px;
    background-color:#fff;
    overflow-y: auto;
    position: relative;
  }
  .footer{
    background-color: #2C3335;
    height: 72px;
    .footer-text {
      padding-left: 20px;
      color: #7B8788;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.hero-image {
    height: 100%;
    background: url("https://picsum.photos/id/1015/3000/2000") center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    .hero-content {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1.5rem 4rem;
      font-size: 1.25rem;
      z-index: 1;

      .hero-text {
        margin: 0;
        font-size: 2em;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
      }
      .logo {
        font-size: 3em;
      }
    }
}

.title-image {
  background: url("https://picsum.photos/id/1015/1000/400");
  height: 200px;
}

.footer-text{
  color: #7B8788;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
}

blockquote{
  background-color: #EAF0F1;
  color: #6A89CC;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #d6e0e2;
  position: relative;
}